<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Track</title>
</head>
<body>
    <h1>CompSci 235 2022 - MY MUSIC LIBRARY</h1>
    <h2>Track name: {{ track.title }}</h2>
    <p>Track id {{ track.track_id }}</p>
    <p>Track Duration: <b>{{ track.track_duration }}</b> seconds</p>
    <p>Track URL: {{ track.track_url }}</p>
    {% if track.album.title!=None %}
        <p>Track album: {{ track.album.title }}</p>
    {% endif %}
{#    <p>Track Prev: <a href="/track/{{ np_tuple[0].track_id }}">Prev={{ np_tuple[0].track_id }}</a> </p>#}
{#    <p>Track Next: <a href="/track/{{ np_tuple[1].track_id }}">Next={{ np_tuple[1].track_id }}</a> </p>#}
    {% if track!=first and track!=last%}
            <h1>middle elements</h1>
            <p>Track Prev: <a href="/track/{{ np_tuple[0].track_id }}">Prev={{ np_tuple[0].track_id }}</a> </p>
            <p>Track Next: <a href="/track/{{ np_tuple[1].track_id }}">Next={{ np_tuple[1].track_id }}</a> </p>

    {% endif %}


    {% if track==first %}
        <h1>first element</h1>
        <p>Track Prev: <a href="/track/{{ track.track_id }}">Prev={{ track.track_id }}</a> </p>
        <p>Track Next: <a href="/track/{{ np_tuple[1].track_id }}">Next={{ np_tuple[1].track_id }}</a> </p>
    {% endif %}

    {% if track==last %}
        <h1>Last element</h1>
        <p>Track Prev: <a href="/track/{{ np_tuple[0].track_id }}">Prev={{ np_tuple[0].track_id }}</a> </p>
        <p>Track Next: <a href="/track/{{ track.track_id }}">Next={{ track.track_id }}</a> </p>
    {% endif %}
    <p>Go to first: <a href="/track/{{ first.track_id }}">here={{ first.track_id }}</a></p>
    <p>Go to last: <a href="/track/{{ last.track_id }}">here={{ last.track_id }}</a></p>
    <p>Sort by album: <a href="/track/{{ track.track_id }}/sort_by_album"> click here </a></p>
    <p>Sort by track name: <a href="/track/{{ track.track_id }}/sort_by_track_name"> click here </a></p>

</body>
</html>
