
.navbar_font {
    font-weight: 700;
}
html,body{
    height: 100%;
    background-color: #ffffff;
}

.splash-body{
    height: 100%;
}

.contain_table {
  /*margin: 0 auto;*/
  /*width: 70%;*/
  position: relative;
  clear: both;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black!important;
}

.paginate_button page-item {
    color: black!important;
}

.policy-table {
  color: grey;
  text-align: center;
}

.headings, .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.heading {
  flex-basis: 10%;
}

.policy {
  border-radius: 2em;
  background-color: white;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 3px grey;
  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 5px grey;
}

span {
  flex-basis: 10%;
}

a, .page-link {
  text-decoration: none;
  color: #4c4c4c;
}

.policy-container {
  display: flex;
  justify-content: center;
}

.bookmarks {
    font-size: 1.1em;
}

.formwrapper {
  margin: 1em;
}

