{% extends 'home.html' %}
{% block content %}
<div style="margin-left: auto; margin-right: auto; width: 75%">
    <br>
    <table id="data" class="dataTable table table-light table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Track</th>
            <th>Duration</th>
            <th>Url</th>
            <th>Album</th>
            <th>Artist</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
        $(document).ready(function ()
        {
            $('#data').DataTable({
                ajax: '/track/list/api/data',
                columns: [
                    {data:'track_id',orderable: false, searchable: false},
                    {data:'track_name'},
                    {data:'duration',orderable: false, searchable: false},

                    //{data:'url',orderable: false, searchable: false},
                    { data: "url",
                    render: function (url) {
                    return '<a href="'+url+'" target="_blank"><span class="badge bg-primary">Link <img style="margin-bottom: 4px;" src="../static/new_tab.png" width="10" height="10"/></span></a>';
                    }, orderable: false, searchable: false},

                    {data:'album'},
                    {data:'artist'}
                ]
            })
        }
        )




</script>
{% endblock %}